<header class="w-full h-[80px] bg-[#FEFEFF] fixed top-0 flex items-center justify-between px-4 md:px-6 lg:px-8">
    <!-- Contenedor de Navegación -->
    <div class="w-10 h-10 bg-[#FFFFFF] rounded-full border-[var(--borderswidthborder-4)] flex items-center justify-center">
        <!-- Aquí puedes agregar contenido de navegación -->
    </div>

    <!-- Contenedor de la Imagen -->
    <div class="w-10 h-10 bg-[#FFFFFF] rounded-full border-[var(--borderswidthborder-4)] flex items-center justify-center overflow-hidden">
        <div class="w-[48px] h-[48px] rounded-full bg-[var(--colors-base-base-300, #E0E9ED)] flex items-center justify-center">
            <img src="https://s3-alpha-sig.figma.com/img/c92f/82ff/3fdd96b920e1ddf54d13c1fb53890bd2?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Qp6ZeM9SfDedV1qBCuzjbilVIw7hg-JAMQguhQQzQt1HkAdwt~aER8FLSTfv3YoKUTUQAwHDWqnwN3LLBXHO2YtDB8CMHcdhpIYeBJoBl794OOEubCZ51CjUy7WLuNCUcXihOmg0PCFXRskyiX~7Lw0n9LsDRuSEjQtMDkk5AxDXCGl1fQ2Uw0p7z2aDd5OzC30zSYJmh5MhRWI-7sGsivrxH725B8AYdbNyfBTW0PgZZztNYkCsCKY3bF5xumogOd9TFEBKHTGcp9GcVWDeYC7~EStqX-q3jM~Te4ZoTQj1WGUXm1tJDz~rDMJ7o66UdvO-N~QhLRBMtLk4tXSfGg__"
                alt="Foto de perfil" class="w-full h-full object-cover" />
        </div>
    </div>
</header>
